#contact {
    flex-direction: column;
}

#socials {
    flex-direction: column;
}

#socials img {
    margin: 15px auto;
}

.separation-bar {
    margin: 20px auto;
    display: block;
    background-color: #4AA788;
    width: 188px;
    height: 3px;
}

p {
    /* background-color: whitesmoke; */
    text-align: left;
    width: 70%;
    max-width: 400px;
    color: #D8D8D8;
}

#email {
    color: #4AA788;
    text-decoration: underline;
    font-weight: bold;
}

form {
    flex-direction: column;
    color: #D8D8D8;
}

.oneliner {
    padding: 2px 5px;
    color: white;
    background-color: rgba(251,251,251,.2);
    height: 25px;
    width: 245px;
    border: 2px solid #4AA788;
    border-radius: 5px;
}

#message {
    padding: 2px 5px;
    color: white;
    background-color: rgba(251,251,251,.2);
    border: 2px solid #4AA788;
    width: 245px;
    min-height: 80px;
    height: auto;
    border-radius: 5px;
    overflow: scroll;
}

button {
    margin: 15px auto;
    color: #D8D8D8;
    font-size: 1rem;
    width: 95px;
    height: 25px;
    background-color: #4AA788;
    border-radius: 3px;
    border: 1px solid #4AA788;
}

h2, input {
    margin: 5px auto;
}

#copyright {
    margin: 10px 7px 5px auto;
    color: #D8D8D8;
}