#home {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    overflow: clip;
}

#islands {
    display: block;
    /* margin-top: 60px; */
    margin-bottom: 50px;
    height: 100vh;
    width:  100vw;
    padding: 0;
    overflow: clip;
    background-repeat: no-repeat;
    background-image: url('../resources/dynamicbg/CanoeingBGmobile.jpg');
    background-size: cover;
    /* z-index: 1; */
}
svg {
    z-index: 1.5;
    overflow: clip;
}
#bay {
    display: block;
    position: relative;
    top: 0vh;
    height: 100%;
    width:  100%;
    margin: 0;
    padding: 0;
    overflow: clip;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../resources/dynamicbg/bayMobile.png');
    opacity: 0.5;
    /* z-index: 2; */
    filter: url('#bay-waves')
}

#waterfall {
    display: block;
    position: relative;
    top: -25vh;
    right: .8vh;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: clip;
    background-repeat: no-repeat;
    background-image: url('../resources/dynamicbg/waterfallMobile.png');
    background-size: cover;
    filter: url('#waterfall');
}

#content-background {
    position: absolute;
    top: 42vh;
    left: calc(50vw - 125px);
    right: calc(50vw - 125px);
    right: 50%;
    cursor: default;
    background-color: rgba(47,46,46,.3);
    width: 250px;
    /* max-width: 250px; */
    border-radius: 20px;
    border: 1px solid rgb(44, 53, 52);
    z-index: 10;
}

#content-background h1 {
    font-size: 1.7rem;
    margin: 10px auto;
    /* z-index: 999; */
}

@media only screen and (min-width: 1030px) {

    #islands {background-image: url('../resources/dynamicbg/canoeingBG.jpg')}
    #bay {background-image: url('../resources/dynamicbg/Bay.png')}
    #waterfall {
        background-image: url('../resources/dynamicbg/Waterfall.png');
        position: absolute;
        top: 0;
        right: 0;
        /* bottom: 5vh; */
    }
    #islands, #bay, #waterfall  {
        height: 100vh;
        width: 100vw;
    }

    #content-background {
        width: 300px;
        height: 100px;
    }

    #content-background h1 {
        font-size: 2rem;
    }
}