#projects {
    color: #D8D8D8;
    flex-direction: column;
}

#projects h1 {
    margin: 10px auto 20px;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

fig {
    height: 20vw;
    max-height: 200px;
    height: 180px;
    width: 300px;
    border: 5px solid #4AA788;
    border-radius: 9px;
}

#popcorn {
    background-color: white;
}

#cricket {
    background-color: white;
}

.project-container {
    flex-direction: column;
    text-align: center;
    margin: 10px 5px 40px 5px;
}

.project-container fig, img {
    margin-bottom: 15px;
}

figcaption {
    display: flex;
    align-items: center;
    margin: 8px auto auto auto;
    width: 80%;
    max-width: 250px;
    text-align: justify;
}

@media only screen and (min-width: 400px) {
    #projects {
        width: 100%;
    }
    
    #projects h1 {
        width: 100%;
        margin-top: -20px;
        margin-bottom: 70px;
    }

    .separation-bar {
        display: none;
    }

    #desktop-flex-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 0px;
    }
}