#projects {
    color: #D8D8D8;
    flex-direction: row;
    flex-wrap: wrap;
    /* min-height: 100vh; */
}

#projects h1 {
    margin: 10px auto 20px auto;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

figure {
    height: 20vw;
    max-height: 200px;
    height: 180px;
    width: 300px;
    border: 5px solid #4AA788;
    border-radius: 9px;
}

#popcorn {
    background-color: rgba(240,240,240,1);
}

#cricket {
    background-color: rgba(240,240,240,1);
}

.project-container {
    flex-direction: column;
    text-align: center;
    margin: 10px 5px 40px 5px;
}

.project-container figure, img {
    margin-bottom: 15px;
}

figcaption {
    display: flex;
    align-items: center;
    margin: 8px auto auto auto;
    width: 80%;
    max-width: 250px;
    text-align: justify;
}
/* iPhone 6/7/8 here */
@media only screen and (max-height: 670px) {
    #projects {
        /* background-color: coral; */
        min-height: 150vh !important;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

/* iPhone viewport height collapses when scrolling - this detects it and prevents border collapse! */

@media only screen and (max-height: 630px) {
    #projects {
        margin-top: 30px;
        /* background-color: blue; */
        min-height: 170vh !important;
    }
}

@media only screen and (max-width: 449px) {
    #projects {min-height: 100vh}
}

@media only screen and (max-width: 400px) {
    #projects {
        min-height: 140vh;
        margin-top: 200px;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 450px) {
    #projects {
        height: 100vh;
        width: 100vw;
        margin: 50px auto;
    }
    
    #projects h1 {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 70px;
    }

    .separation-bar {
        display: none;
    }

    #desktop-flex-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 0px;
    }
}