body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('./resources/gradient-background.png');
  background-repeat: repeat;
}

#main {
  width: 100vw;
  height: 100vh;
}

nav {
  position: fixed;
  width: 100%;
  height: 36px;
  background-color: #212225;
  border-bottom:  1px solid #4aa788;
  display: inline-flex;

}

.navlink {
  color: #D8D8D8;
  text-decoration: none;
  font-size: 1.1rem;
}

h1 {
  color: white;
}